<nav class="nav nav-tabs nav-justified">
    <div class="navbar-default top-navbar">
        <a [routerLink]="['/workout']" class="btn btn-primary">
          <span class="fa fa-search"></span> View All
        </a>
        <a [routerLink]="['/workout/create']" class="btn
            btn-primary">
          <span class="fa fa-plus-circle"></span> Create
          </a>
          <a [routerLink]="['/workout/category']" class="btn
            btn-primary">
            <span class="fa fa-list-alt"></span> Category
            </a>
            <a [routerLink]="['/workout/track']" class="btn
              btn-primary">
              <span class="fa fa-line-chart"></span> Track
              </a>
      </div> 
</nav>